<div class="closeContainer">
  <button mat-fab class="closeBtn">
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </button>
</div>
<div class="teamId">
  <h1>{{ teamStats.team.name }}</h1>
  <img class="teamBadge" src="{{ teamStats.team.logo }}" alt="" />
</div>

<div class="leagueStats">
  <div>
    <mat-card class="formCard">
      <h3>Team</h3>
      <div class="pos">
        <p class="position">Current Position: {{ teamStats.rank | ordinal }}</p>
      </div>
      <div class="recentForm">
        <p class="form">Form:</p>

        <ng-container *ngFor="let result of teamForm">
          <p
            [ngClass]="{
              win: result === 'W',
              loss: result === 'L',
              draw: result === 'D'
            }"
          >
            {{ result }}
          </p>
        </ng-container>
      </div>
      <ng-container *ngIf="!loading; else loadingSpin">
        <div class="teamDetails">
          <p class="founded">Founded: {{ detailedTeamStats?.team?.founded }}</p>
          <h3 class="stadiumHeading">Stadium</h3>
          <p class="stadiumName">
            Plays at: {{ detailedTeamStats?.venue?.name }}
          </p>
          <p class="stadiumCapacity">
            Capacity: {{ detailedTeamStats?.venue?.capacity }}
          </p>
          <div class="imgDiv">
            <img
              class="stadiumImg"
              src="{{ detailedTeamStats?.venue?.image }}"
              alt=""
            />
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>
  <div class="playersTableDiv">
    <mat-card>
      <h3>Players</h3>
      <table
        class="playersTable"
        mat-table
        [dataSource]="detailedPlayerStats"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="playerImg" mat-cell *matCellDef="let table">
            <figure>
              <img src="{{ table.photo }}" alt="" />
            </figure>
          </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let table">
            {{ table.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Age">
          <th mat-header-cell *matHeaderCellDef>Age</th>
          <td mat-cell *matCellDef="let table">{{ table.age }}</td>
        </ng-container>

        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let table">{{ table.position }}</td>
        </ng-container>

        <ng-container matColumnDef="Number">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let table">{{ table.number }}</td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let player">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="expandedRowChange(player, $event)"
            >
              <mat-icon *ngIf="expandedPlayer !== player"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="expandedPlayer === player"
                >keyboard_arrow_up</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let player"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              class="playerDetail"
              [@detailExpand]="
                player == expandedPlayer ? 'expanded' : 'collapsed'
              "
            >
              <div class="detailedPlayerStats">
                <div class="fetchDetailsBtn">
                  <ng-container *ngIf="!playerStatsVisible">
                    <button
                      class="getStatsBtn"
                      mat-button
                      (click)="getPlayerStats(player.id)"
                    >
                      Get stats
                    </button>
                  </ng-container>
                </div>
                <ng-container *ngIf="!statsLoading; else statsLoadingSpin">
                  <ng-container *ngIf="playerStatsVisible">
                    <div class="playersStats">
                      <div class="personalStats">
                        <ng-container *ngFor="let player of playerStats">
                          <h3 class="playerName">{{ player?.player?.name }}</h3>
                          <div class="personalStatsContent">
                            <p>
                              Nationality - {{ player?.player?.nationality }}
                            </p>
                            <p>Height - {{ player?.player?.height }}</p>
                            <p>Weight - {{ player?.player?.weight }}</p>
                            <p>
                              Injured -
                              {{
                                player?.player?.injured === false ? "No" : "Yes"
                              }}
                            </p>
                          </div>

                          <div class="seasonStats">
                            <ng-container
                              *ngFor="
                                let statistics of player.statistics
                                  | slice : 0 : 3
                              "
                            >
                              <h3 class="CompetitionName">
                                {{ statistics?.league?.name }}
                              </h3>
                              <div class="seasonStatsContent">
                                <div class="gameStats">
                                  <h3>Games</h3>
                                  <p>
                                    Appearences -
                                    {{
                                      statistics?.games?.appearences
                                        | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Minutes -
                                    {{
                                      statistics?.games?.minutes | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Rating -
                                    {{
                                      statistics?.games?.rating | nullReplace
                                    }}
                                  </p>
                                </div>

                                <div class="substituteStats">
                                  <h3>Substitutions</h3>
                                  <p>
                                    Subbed on -
                                    {{
                                      statistics?.substitutes?.in | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Subbed off -
                                    {{
                                      statistics?.substitutes?.out | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Benched -
                                    {{
                                      statistics?.substitutes?.bench
                                        | nullReplace
                                    }}
                                  </p>
                                </div>

                                <div class="cardStats">
                                  <h3>Cards</h3>
                                  <p>
                                    Yellow -
                                    {{
                                      statistics?.cards?.yellow | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Red -
                                    {{ statistics?.cards?.red | nullReplace }}
                                  </p>
                                </div>

                                <div class="passStats">
                                  <h3>Passes</h3>
                                  <p>
                                    Accuracy-
                                    {{
                                      statistics?.passes?.accuracy
                                        | nullReplace
                                    }}%
                                  </p>
                                  <p>
                                    Key -
                                    {{ statistics?.passes?.key | nullReplace }}
                                  </p>
                                  <p>
                                    Total -
                                    {{
                                      statistics?.passes?.total | nullReplace
                                    }}
                                  </p>
                                </div>

                                <div class="shotStats">
                                  <h3>Shots</h3>
                                  <p>
                                    On Target -
                                    {{ statistics?.shots?.on | nullReplace }}
                                  </p>
                                  <p>
                                    Total -
                                    {{ statistics?.shots?.total | nullReplace }}
                                  </p>
                                </div>

                                <div class="goalStats">
                                  <h3>Goals</h3>
                                  <p>
                                    Goals -
                                    {{ statistics?.goals?.total | nullReplace }}
                                  </p>
                                  <p>
                                    Assists -
                                    {{
                                      statistics?.goals?.assists | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Conceded -
                                    {{
                                      statistics?.goals?.conceded | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Saves -
                                    {{ statistics?.goals?.saves | nullReplace }}
                                  </p>
                                </div>

                                <div class="penaltyStats">
                                  <h3>Penaltys</h3>
                                  <p>
                                    Scored -
                                    {{
                                      statistics?.penalty?.scored | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Missed -
                                    {{
                                      statistics?.penalty?.missed | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Commited -
                                    {{
                                      statistics?.penalty?.commited
                                        | nullReplace
                                    }}
                                  </p>
                                  <p>
                                    Won -
                                    {{ statistics?.penalty?.won | nullReplace }}
                                  </p>
                                  <p>
                                    Saved -
                                    {{
                                      statistics?.penalty?.saved | nullReplace
                                    }}
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </td>
        </ng-container>

        <tr
          class="headerRows"
          mat-header-row
          *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"
        ></tr>
        <tr
          mat-row
          class="table-row"
          *matRowDef="let row; columns: columnsToDisplayWithExpand"
          [class.example-expanded-row]="expandedPlayer === row"
          (click)="expandedRowChange(row, $event)"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="playerDetailRow"
        ></tr>
      </table>
    </mat-card>
  </div>
</div>

<ng-template #loadingSpin>
  <div class="loadingSpinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #statsLoadingSpin>
  <div class="statsLoadingSpinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
