.teamId {
  justify-content: center;
  display: grid;
  text-align: center;
  .teamBadge {
    margin: auto;
  }
}

.leagueStats {
  .pos {
    .position {
      // font-size: 22px;
    }
  }
  .formCard {
    margin-top: 20px;
  }

  .recentForm {
    display: flex;
  }
}

.win {
  color: #008000;
}

.loss {
  color: #dc143c;
}

.draw {
  color: #ff8c00;
}

h3 {
  text-align: center;
}

p {
  font-weight: lighter;
  color: black;
}

.stadiumHeading {
  border-top: black 1px solid;
}

.imgDiv {
  text-align: center;
  .stadiumImg {
    height: 300px;
  }
}

.playersTableDiv {
  margin-top: 20px;

  .playersTable {
    width: 100%;
    th {
      text-align: center;
      font-size: 20px;
    }

    td {
      text-align: center;
      //used to ensure all the tds are the same width
      width: calc(100% / 8);
      font-size: 18px;
      font-weight: 200;

      .playerImg {
        height: 64px;
        width: 64px;
      }

      img {
        height: 64px;
        width: 64px;
      }
    }
  }
}

tr.playerDetailRow {
  height: 0;
}

.detailedPlayerStats {
  padding: 5px;
}

.fetchDetailsBtn {
  text-align: left;
}

.getStatsBtn {
  border: 1px solid black;
}

.playersStats {
  padding-top: 10px;
}

.playerDetail {
  overflow: hidden;
}

.personalStatsContent {
  font-size: 12px;
  border-bottom: 1px solid black;
  text-align: left;
}

.seasonStatsContent {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid black;
  text-align: left;
}

.playerName {
  text-align: center;
}

.competitionName {
  text-align: center;
}

.closeContainer {
  text-align: right;
  cursor: pointer;
}
