<div class="newsContent">
  <ng-container *ngIf="!isLoading">
    <ng-container *ngFor="let article of news">
      <div class="article" (click)="openArticle(article.NewsLink)">
        <img class="thumbnail" src="{{ article.Image }}" alt="" />
        <div class="articleDetails">
          <p class="title">{{ article.Title }}</p>

          <p class="publishedDate">
            Published {{ article.PublisherDate }} by {{ article.PublisherName }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="news.length == 0 && !isLoading && !hasError; then noNews"
    >
    </ng-container>
    <ng-container *ngIf="hasError; then newsError"></ng-container>
  </ng-container>
</div>

<ng-template #noNews>
  <div class="noArticles">
    <p>No news articles at present for this league</p>
  </div>
</ng-template>

<ng-template #newsError>
  <div class="newsError">
    <p>An error has occured fetching news articles</p>
    <button class="retryBtn" mat-button (click)="retryNews()">Retry</button>
  </div>
</ng-template>

<ng-container *ngIf="isLoading">
  <div class="loadingSpinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
