<div class="allTabContent">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="tabImg" src="../assets/premier-league-file.png" alt="">
        Premier League
      </ng-template>
      <app-premier-league></app-premier-league></mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
        <img class="tabImg" src="../assets/laliga-v-1200x1200.png" alt="">
        La Liga
      </ng-template><app-la-liga></app-la-liga></mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="tabImg" src="../assets/png-clipart-bundesliga-logo-bundesliga-logo-icons-logos-emojis-football.png" alt="">
        Bundesliga
      </ng-template><app-bundesliga></app-bundesliga></mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="tabImg" src="../assets/Italian-Serie-A-TIM-Logo-2019.png" alt="">
        Serie A
      </ng-template><app-serie-a></app-serie-a></mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="tabImg" src="../assets/ligue-1.png" alt="">
        Ligue 1
      </ng-template><app-ligue1></app-ligue1></mat-tab>
  </mat-tab-group>
</div>


