<div class="allTabContent">
  <mat-tab-group
    mat-align-tabs="center"
    selectedIndex="0"
    (selectedTabChange)="changeTab($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tabContent">
          <img class="tabImg" src="assets/premier-league-file.png" alt="" />
          <p class="premierLeagueTab">Premier League</p>
        </div>
      </ng-template>
      <app-premier-league></app-premier-league>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tabContent">
          <img class="tabImg" src="assets/laliga-v-1200x1200.png" alt="" />
          <p class="laLigaTab">La Liga</p>
        </div>
      </ng-template>
      <ng-container *ngIf="tabIndex == 1">
        <app-la-liga></app-la-liga>
      </ng-container>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tabContent">
          <img
            class="tabImg"
            src="assets/png-clipart-bundesliga-logo-bundesliga-logo-icons-logos-emojis-football.png"
            alt=""
          />
          <p class="bundesligaTab">Bundesliga</p>
        </div>
      </ng-template>
      <ng-container *ngIf="tabIndex == 2">
        <app-bundesliga></app-bundesliga>
      </ng-container>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tabContent">
          <img
            class="tabImg"
            src="assets/Italian-Serie-A-TIM-Logo-2019.png"
            alt=""
          />
          <p class="serieATab">Serie A</p>
        </div>
      </ng-template>
      <ng-container *ngIf="tabIndex == 3">
        <app-serie-a></app-serie-a>
      </ng-container>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tabContent">
          <img class="tabImg" src="assets/Ligue1_logo.png" alt="" />
          <p class="ligue1Tab">Ligue 1</p>
        </div>
      </ng-template>
      <ng-container *ngIf="tabIndex == 4">
        <app-ligue1></app-ligue1>
      </ng-container>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tabContent">
          <img
            class="tabImg"
            src="assets/football-logo-black-and-white.png"
            alt=""
          />
          <p class="highlightsTab">Highlights</p>
        </div> </ng-template
      ><app-highlights></app-highlights
    ></mat-tab>
  </mat-tab-group>
</div>
