.previousResults {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
}

mat-card {
  width: 230px;
  padding: 10px;
  margin: 10px;
}

mat-card:hover {
  box-shadow: rgb(60, 23, 90) 0px 1px 3px, rgb(60, 23, 90) 0px 1px 2px;
}

.homeTeam {
  // left: 0;
  // position: absolute;
  // padding-left: 10px;
}

.awayTeam {
  // right: 0;
  // position: absolute;
  // padding-right: 10px;
}

.homeTeam {
  height: 44px;
  width: 44px;
}

.awayTeam {
  height: 44px;
  width: 44px;
}

.teamNames {
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}

.previousResultsTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 200;
  padding-top: 10px;
}

.teamBadges {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
}

.gameResult {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.loadingSpinner {
  padding-top: 50px;
  text-align: -webkit-center;
}

.buttons {
  text-align: center;
  justify-content: center;

  button {
    padding: 5px;
    margin: 5px;
  }
}

.gwkDropDown {
  width: -webkit-fill-available;
}

.gwkLabel {
  color: black;
  font-weight: 200;
}

mat-select,
mat-option {
  font-weight: 200;
}

.resultsTopContent {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
