<div class="highlightContent">
  <div class="searchBar" #content>
    <form class="form">
      <mat-form-field class="searchInput" appearance="outline">
        <div class="inputAndButton">
          <input
            #searchInput
            type="search"
            matInput
            placeholder="Search highlights..."
            name="search"
            (ngModelChange)="filterSearch($event)"
            [(ngModel)]="search"
          />
          <ng-container *ngIf="searchInput.value.length > 0"
            ><button class="clearSearchButton" (click)="clearSearch()">
              <mat-icon>close</mat-icon>
            </button></ng-container
          >
        </div>
      </mat-form-field>
    </form>
  </div>
  <div class="highlightsContent">
    <ng-container *ngFor="let match of highlightsObs$ | async">
      <div
        class="matchHighlight"
        (click)="openHighlight(match.embed, match.title)"
      >
        <img class="thumbnail" src="{{ match.thumbnail }}" alt="" />
        <div class="highlightInfo">
          <p class="matchTitle">{{ match.title }}</p>
          <p class="competition">{{ match.competition.name }}</p>
          <p class="matchDate">{{ match.date | date : "medium" }}</p>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="matchHighlights.length == 0 && !isLoading; then noSearchResults"
    >
    </ng-container>
  </div>

  <ng-template #noSearchResults>
    <div class="noResultsDiv">
      <p class="noResults">No results matching search</p>
    </div>
  </ng-template>
</div>
<mat-paginator
  #paginator
  [length]="matchHighlights.length"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50, 100]"
  (page)="scrollUp()"
></mat-paginator>
