.searchBar {
  padding-top: 10px;
  text-align: center;
}

.searchInput {
  width: 300px;
}

.highlightsContent {
  // height: 700px;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

.thumbnail {
  height: 175px;
  width: 300px;
}

.matchHighlight {
  display: flex;
  padding: 10px;
  margin: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.matchHighlight:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.matchTitle {
  font-weight: 200;
  font-size: 22px;
}

.highlightInfo {
  display: block;
  margin-left: 50px;
  border-left: 1px black solid;
  p {
    margin-left: 5px;
  }
}

.matchHighlightsTitle {
  font-weight: 200;
  text-align: center;
}

.video {
  padding-top: 30px;
  margin: 0 auto;
  height: 390px !important;
  width: 600px !important;
}

.closeContainer {
  text-align: right;
  cursor: pointer;
}

.noResults {
  font-weight: 200;
  font-size: 30px;
}

.noResultsDiv {
  padding-top: 50px;
  text-align: center;
}
