.dialogInfo {
  display: flex;
  justify-content: space-between;
  p {
    font-weight: 200;
  }
}

.closeContainer {
  cursor: pointer;
}

.video {
  padding-top: 50px;
  margin: 0 auto;
  height: 386px !important;
  width: 600px !important;
  overflow: hidden;
}
