.main-content {
    // padding-top: 10px;
    // padding-right: 20px;
    // padding-left: 20px;
  }

.table {
  overflow-y: scroll;
  height: 95%;
  width: 95%;

}

.leagueNews {
  height: 95%;
  width: 99%;
  overflow-y: scroll;
}

.thisGameWeekFixtures{
  height: 95%;
  width: 99%;
  overflow-y: scroll;
}

.lastGameWeekResults {
  height: 95%;
  width: 99%;
  overflow-y: scroll;
}

