.table {
  overflow-y: scroll;
  height: 95%;
  width: 95%;

}

.leagueNews {
  height: 95%;
  width: 99%;
  overflow-y: scroll;
}

.thisGameWeekFixtures{
  height: 95%;
  width: 99%;
  overflow-y: scroll;
}

.lastGameWeekResults {
  height: 95%;
  width: 99%;
  overflow-y: scroll;
}

.tileContent {
  margin: 10px;
  height: calc(100vh - 70px);
}

.topScorers {
  text-align: center;
  font-weight: 200;
}